<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css">
  .vacancy-page .vacancy-image img {
    width: 100%;

}
.blog-page .blog-image img {
    width: 100%;
}

</style>
  <link rel="shortcut icon" href="favicon.ico">
 <header id="home">
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active" style="background-image: url(assets/new_gen.png);height: 662px;">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">Welcome</h1>
            <p class="animated fadeInRightBig">We are </p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Start now</a>
          </div>
        </div>
        <div class="item" style="background-image: url(assets/2.jpg);height: 662px;">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">New <span > Generation  </span></h1>
            <p class="animated fadeInRightBig">Human Resource & Logistic plc. </p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Start now</a>
          </div>
        </div>
        <div class="item" style="background-image: url(assets/3.jpg);height: 662px;">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">We are <span> Here For you</span></h1>
            <p class="animated fadeInRightBig"> </p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Start now</a>
          </div>
        </div>
      </div>
 <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
      <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>

 <a id="tohash" href="#services"><i class="fa fa-angle-down"></i></a>     

    </div><!--/#home-slider-->
    <div class="main-nav"  >
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> 
         <div class="col-xs-offset-1">
            <h1><img class="img-responsive" src="/assets/log.png" alt="logo"></h1>
               </div>             
        </div>
        <div class="collapse navbar-collapse dropdown">
          <ul class="nav navbar-nav navbar-right">                 
            <li class="scroll active"><a href="#home">Home</a></li>
            <li class="scroll"><a href="#services">Services</a></li> 
            <li class="scroll"><a href="#about-us">About Us</a></li> 
            <li class="scroll"><a href="#team">Vacancies</a></li>
             <li class="scroll"><a href="#blog">News & Blogs</a></li>  
            <li class="scroll"><a href="#contact">Contact Us </a></li>
            <li class="scroll"> <%= link_to("FAQs", static_pages_faqs_path)%></li> 
            <li class="scroll"> <%= link_to("Upload CV", new_cv_path)%></li> 

          </ul>
        </div>
      </div>
    </div><!--/#main-nav-->
  </header>
      <section id="services">
    <div class="container">
      <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="row">
          <div class="text-center col-sm-8 col-sm-offset-2">
            <h2>Some of Our Services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>
          </div>
        </div> 
      </div>
      <div class="text-center our-services">
        <div class="row">
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="service-icon">
              <i class="fa fa-truck"></i>
            </div>
            <div class="service-info">
              <h3>Logistics Service</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
            <div class="service-icon">
              <i class="fa fa-umbrella"></i>
            </div>
            <div class="service-info">
              <h3>Human Resource Supply </h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
            <div class="service-icon">
              <i class="fa fa-cloud"></i>
            </div>
            <div class="service-info">
              <h3>Management Service</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
            </div>
          </div>
        </div>

        <div class="item" >
          <div class="caption team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
           <%= link_to("+ Read More", services_path,  class: "btn btn-start",  style: "color: black;" )%>
           </div>
        </div>
        
      </div>
    </div>
  </section><!--/#services-->
<section id="about-us" class="parallax">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>About us</h2>
            <p>New generation logistics and human resource management is one of the well-known companies in human resource outsourcing and logistics business. We have counted more than 16 years in service delivery.</p>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="our-skills wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
              <p class="lead">User Experiances</p>
              <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100" style="width:80%">
                    80% 
                 </div>
             </div>
            </div>
            <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="400ms">
              <p class="lead">Trust worthy</p>
              <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50"
                aria-valuemin="0" aria-valuemax="100" style="width:70%">
                  70% 
                </div>
              </div>
            </div>
            <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
              <p class="lead">Reliable</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                      85%
                      </div>
                  </div>
                </div>
                <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
              <p class="lead">Over All</p>
              <div class="progress">
                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
                  aria-valuemin="0" aria-valuemax="100" style="width:90%">
                    90%                   </div>
                </div>
            </div>
            </div>

        </div>
      </div>
      <center>
      <div class="item" >
          <div class="caption team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
           <%= link_to("+ Read More", static_pages_aboutus_path,  class: "btn btn-start ",  style: "color: black;" )%>
          </div>
        </div>
        </center>
    </div>
  </section><!--/#about-us-->

   <hr>
  <section id="design"><!--/items will be inserted here-->
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
          <h2>Human Resource Supply and Management Service</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>
        </div>
      </div> 
    </div>
    <div class="container-fluid">
      <div class="row">
            <div class="col-sm-3">
          <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="400ms">
            <div class="folio-image">
              <img class="img-responsive" src="assets/portfolio8.jpg" alt="">
            </div>
                    <h3>Time Hours</h3>
                    <p>Design, Photography</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="400ms">
            <div class="folio-image">
              <img class="img-responsive" src="assets/portfolio2.jpg" alt="">
            </div>
                    <h3>Time Hours</h3>
                    <p>Design, Photography</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
            <div class="folio-image">
              <img class="img-responsive" src="assets/portfolio3.jpg" alt="">
            </div>
                    <h3>Time Hours</h3>
                    <p>Design, Photography</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="folio-image">
              <img class="img-responsive" src="assets/portfolio4.jpg" alt="">
            </div>
          <h3>Time Hours</h3>
          <p>Design, Photography</p>     
          </div>
        </div>
        <center>
         <div class="item" >
          <div class="caption team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
           <%= link_to("+ Show More", services_path,  class: "btn btn-start",  style: "color: black;" )%>
          </div>
        </div>
        </center>
      </div>
    </div>
    <div id="portfolio-single-wrap">
      <div id="portfolio-single">
      </div><!--/#items will end here-->
    </div><!-- /#portfolio-single-wrap -->
  </section><!--/#portfolio-->

    <section id="design"><!--/items will be inserted here-->
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
          <h2>Some of Logistics Service</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>
        </div>
      </div> 
    </div>
    <div class="container-fluid">
      <div class="row">
           <div class="col-sm-3">
          <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
            <div class="folio-image">
              <img class="img-responsive" src="assets/portfolio3.jpg" alt="">
            </div>
                    <h3>Time Hours</h3>
                    <p>Design, Photography</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="400ms">
            <div class="folio-image">
              <img class="img-responsive" src="assets/portfolio2.jpg" alt="">
            </div>
                    <h3>Time Hours</h3>
                    <p>Design, Photography</p>
          </div>
        </div>
         
        <div class="col-sm-3">
          <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="400ms">
            <div class="folio-image">
              <img class="img-responsive" src="assets/portfolio8.jpg" alt="">
            </div>
                    <h3>Time Hours</h3>
                    <p>Design, Photography</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="folio-image">
              <img class="img-responsive" src="assets/portfolio4.jpg" alt="">
            </div>
          <h3>Time Hours</h3>
          <p>Design, Photography</p>     
          </div>
        </div>
        <center>
         <div class="item" >
          <div class="caption team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
           <%= link_to("+ Show More", services_path,  class: "btn btn-start ",  style: "color: black;" )%>
          </div>
        </div>
        </center>
      </div>
    </div>
    <div id="portfolio-single-wrap">
      <div id="portfolio-single">
      </div><!--/#items will end here-->
    </div><!-- /#portfolio-single-wrap -->
  </section><!--/#portfolio-->
  <hr>
   <section class="dorne-about-area section-padding-0-100">
        <div class="container">
        <div class="row">
            <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
               <div class="row">
                   <div class="text-center col-sm-8 col-sm-offset-2">
                        <h2><span style="color: #1e88e5"> Companies We</span> are serving</h2>
            
                   </div>
               </div> 
            </div>
         </div>
           

 <div class="row">
        <% @contact.each do |f|%>
          <div class="col-sm-3">
            <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="member-image">
<span> <%= image_tag f.testimony_photo_url if f.testimony_photo?%></span>
              </div>
              <div class="member-info">
                <h3><%= f.testimony%></h3>
              </div>
            </div>
          </div>
          <%end%>

      </div>
      
        </div>
    </section>
<hr>
  <section id="team">
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
          <h2>Latest Vacancies from <strong style="color: #1e88e5"> New Generation</strong></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>
        </div>
      </div>
      <div class=" vacancy-page section-padding ">
        <div class="row">
        <% @vacancy.each do |f|%>
          <div class="col-sm-3 col-sm-offset-1 col-xs-12 ">
            <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="member-image col-xs-offset-2">
  <div class="vacancy-image" style="width: 200px;height: 200px; ">
<span style="width: 200px; height: 200px;"> <%= image_tag f.vacancy_photo if f.vacancy_photo?%></span>
</div>              
              </div>
              <div class="member-info">

                <h3>Vacancy Detail:<%= f.vacancy_detail%></h3>
                <h4>Catagory:<%= f.vacancy_catagory%></h4>
                <h4>Location:<%= f.vacancy_location%></h4>
                
              </div>
            </div>
          </div>
          <%end%>
         
        </div>
        <center>
      <div class="item" >
          <div class="caption team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms"">
           <%= link_to("+ Read More", vacancies_path,  class: "btn btn-start ",  style: "color: black;" )%>
        </div>
        </div>
        <div class="item" >
          <div class="caption team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms"">
      
           <%= link_to("Upload CV here", new_cv_path,  class: "btn btn-start ",  style: "color: black;" )%>

               <p><br><strong>Intersted in our Vacancies Why not Apply</strong></p>
          </div>
        </div>
        </center>
      </div>            
    </div>
  </section><!--/#team-->

  <section id="features" class="parallax">
    <div class="container">
      <div class="row count">
        <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
          <i class="fa fa-user"></i>
          <h3 class="timer">over 400 <span><i class="fa fa-smile"></i></span>Happy Clients</h3>
        <!--  <p>Happy Clients</p> -->
        </div>
        <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
          <i class="fa fa-desktop"></i>
          <h3 class="timer">over 2200 employees</h3>                    
          <!--<p>Human Resources</p>-->
        </div> 
        <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="700ms">
          <i class="fa fa-trophy"></i>
          <h3 class="timer">22 different towns (cities) of Ethiopia</h3>                    
         <!--<p>Succesfull</p>-->
        </div>                  
      </div>
    </div>
  </section><!--/#features-->

  <section id="pricing">
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
          <h2 style="font-family: serif;">What are We Good at?</h2>
          <p style="font-size: 16px;">When comparing our capabilities and resources with that of competitors, there are resources with that of competitors, there are many pluses that you can get. Some of them are:              
          </p>
        </div>
      </div>
      <div class="pricing-table">
        <div class="row">
          <div class="col-sm-3" style="background-color: #e1f5fe;">
            <div class="single-table wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
              
              <ul>
                <li>• Advanced human resources technology that can streamline important HR functions, such as automated payroll system and benefit administration.</li>
              </ul>
               
            </div>
          </div>
          <div class="col-sm-3" style="background-color: #e1f5fe;">
            <div class="single-table wow flipInY" data-wow-duration="1000ms" data-wow-delay="500ms">
               
              <ul>
                <li>• Great experience gathered through 16 years of service delivery the above-mentioned services in each of the sites.</li>
                
              </ul> 
            </div>
          </div>
          <div class="col-sm-3" style="background-color: #e1f5fe;">
            <div class="single-table wow flipInY" data-wow-duration="1000ms" data-wow-delay="1100ms">
             <ul>
                <li>• Recognized and licensed in 7 different regions of the country including the federal government of Ethiopia and Compliance with international and national lab our rules and regulations</li>
              </ul> 
            </div>
          </div>

          <div class="col-sm-3" style="background-color: #e1f5fe;">
            <div class="single-table wow flipInY" data-wow-duration="1000ms" data-wow-delay="1100ms">
              <ul>
                <li>• Flexible provision of services tailored to unique needs of our customer companies and a dedicated resource for administration of workforce.
</li>
              </ul> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!--/#pricing-->

  <section id="twitter" class="parallax">
    <div>
    <div class="col-xs-pull-1">
      <a class="twitter-left-control" href="#twitter-carousel" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
      </div>
      <div class="col-xs-offset-1">
      <a class="twitter-right-control" href="#twitter-carousel" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="twitter-icon text-center">
              <i class="fa fa-twitter"></i>
              <h4>What our customers say about Us</h4>
            </div>
            <div id="twitter-carousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="item active wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                  <p>Introducing Shortcode generator for Helix V2 based templates <a href="#"><span>#helixframework #joomla</span> http://bit.ly/1qlgwav</a></p>
                </div>
                <div class="item">
                  <p>Introducing Shortcode generator for Helix V2 based templates <a href="#"><span>#helixframework #joomla</span> http://bit.ly/1qlgwav</a></p>
                </div>
                <div class="item">                                
                  <p>Introducing Shortcode generator for Helix V2 based templates <a href="#"><span>#helixframework #joomla</span> http://bit.ly/1qlgwav</a></p>
                </div>
                <div class="item">                                
                  <p>good</a></p>
                </div>
                <div class="item">                                
                  <p>very nice</a></p>
                </div>
              </div>                        
            </div>                    
          </div>
        </div>
      </div>
    </div>
  </section><!--/#twitter-->

  <section id="blog">
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
          <h2><strong> Blog <span style="color:#1e88e5; "> & </span> News </strong></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>
        </div>
      </div>
      <div class="blog-area blog-page section-padding">
       
        <div class="row">
        <% @blog.each do |f|%>
        <div class="col-sm-3 col-sm-offset-1 col-xs-12 col-xs-offset-1">
            <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="member-image">
              <div class="blog-image" style="width: 200px;height: 200px; ">
<span style="width: 200px; height: 200px;"> <%= image_tag f.blog_photo if f.blog_photo?%></span>
</div>
              </div><br> 
              
            </div><hr>
            <div class="member-info">
                <p style="font-family: serif;"><%=f.blog%></p>
              </div><hr><br>
             
        </div>
    <%end%>
 </div>            
        </div>  
        </div>              
      </div>
       <center>
      <div class="item" >
          <div class="caption team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
           <%= link_to("+ Read More News", blogs_path,  class: "btn btn-start ",  style: "color: black;" )%>
          </div>
        </div>
        </center>
      
    </div>
  </section><!--/#blog-->
