<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css">

.blog-page .single-blog {
    border-radius: 0;
    margin-bottom: 50px;
}

.blog-page .single-blog .post-date {
    margin-bottom: 20px;
    margin-top: -10px;
}

.blog-page .single-blog .post-date a i {
    margin-right: 10px;
}

.blog-page .single-blog .post-date a:hover {
    color: #f39c12;
}

.blog-page .blog-image img {
    width: 100%;
}

.pagination li a {
    border-radius: 0;
    color: #666;
    padding: 10px 20px;
}

.pagination li a:hover,
.pagination li.active a,
.pagination li a:focus {
    background: #f39c12 none repeat scroll 0 0;
    color: #fff;
    border-color: #f39c12;
}

.single-sidebar-widget {
    -webkit-box-shadow: 0 3px 7px #ddd;
    box-shadow: 0 3px 7px #ddd;
    margin-bottom: 50px;
    padding: 20px;
}

.single-sidebar-widget h4::after {
    border-bottom: 1px dashed #f39c12;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 50px;
}

.single-sidebar-widget h4 {
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.widget_search form {
    border: 1px solid #ddd;
    height: 40px;
    position: relative;
    width: 100%;
}

.widget_search form input {
    border: 0 none;
    height: 100%;
    left: 0;
    padding: 8px 40px 8px 8px;
    position: absolute;
    top: 0;
    width: 100%;
}

.widget_search form button {
    background: #5d6b82 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 50px;
}

.widget_search form button:hover,
.tagcloud a:hover {
    background: #f39c12 none repeat scroll 0 0;
    color: #fff;
    border-color: #f39c12;
}

.widget_categories li {
    margin: 5px 0;
    position: relative;
}

.widget_categories li::before {
    content: "\f105";
    display: inline-block;
    font-family: fontawesome;
    margin-right: 10px;
}

.single-sidebar-widget li a:hover {
    color: #f39c12;
}

.single-sidebar-widget {
    -webkit-box-shadow: 0 3px 7px #ddd;
    box-shadow: 0 3px 7px #ddd;
    margin-bottom: 50px;
    padding: 20px;
}

.widget_recent_entries li {
    margin-bottom: 15px;
    overflow: hidden;
}

.tagcloud a {
    border: 1px solid #ddd;
    display: inline-block;
    margin-bottom: 9px;
    margin-right: 5px;
    padding: 5px 10px;
    text-transform: capitalize;
}

blockquote {
    background: #f1f1f1 none repeat scroll 0 0;
    border: 0 none;
    font-size: 16px;
    font-style: italic;
    line-height: 1.7em;
    position: relative;
    padding: 20px 30px;
    text-transform: capitalize;
    z-index: 1;
}

blockquote::after,
blockquote::before {
    content: "\f10d";
    font-family: fontawesome;
    font-size: 50px;
    height: 50px;
    left: 0;
    line-height: 1;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 50px;
    z-index: -1;
}

blockquote::before {
    bottom: 0;
    content: "\f10e";
    left: auto;
    right: 8px;
    top: auto;
}

.share-button,
.comments-area,
.comments-form-area {
    -webkit-box-shadow: 0 3px 7px #ddd;
    box-shadow: 0 3px 7px #ddd;
    margin-bottom: 50px;
    padding: 20px;
}


.half-width input {
    border: 1px solid #ddd;
    margin-bottom: 14px;
    padding: 10px;
    width: calc(50% - 10px);
}

img{
    max-width: 100%;
    height: auto;
}


h2 {
    font-size: 36px; 
    color: #3c4a62;
    margin: 0 0 15px;
    font-weight: 700;
    line-height: 1.4em;
    text-transform: uppercase;
    position: relative;
}

.service-content h2::after {
    border-bottom: 1px dashed rgb(243, 156, 18);
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 50px;
}

.area-title h2::before,
.area-title h2::after {
   
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100px;
}

.area-title h2::after {
    background: #f39c12 none repeat scroll 0 0;
    height: 4px;
    width: 200px;
}


.area-title h2 {
    display: inline-block;
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 1;
    padding-bottom: 20px;
    position: relative;
    text-transform: uppercase;
}
 
</style>
  <header id="home">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </header>
  <br>
  <div class="row">
            <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
               <div class="row">
                   <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2>Latest News From<span style="color: #1e88e5;"> New Generation</span> logistics & Human Resource <br>አዳዲስ ዜናዎች ከ ኔው ጄኔሬሽ</h2>
        <!--<h3>አዳዲስ ዜናዎች ከ ኔው ጄኔሬሽን</h3>-->
        </div>
          </div>
 </div> 
            </div>
         </div>
     <!--BLOG AREA-->
    <section class="blog-area blog-page section-padding">
     <div class="row">
        <% @blogs.each do |f|%>
          <div class="col-sm-3 col-sm-offset-1 col-xs-12 ">
            <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="member-image">
              <div class="blog-image col-xs-offset-2" style="width: 200px;height: 200px; ">
<span style="width: 200px; height: 200px;"> <%= image_tag f.blog_photo if f.blog_photo?%></span>
</div>
              </div><br><br><br> 
              
            </div>
            <hr>
            <div class="member-info">
            <div class="well" style="width: auto;height: auto;"><strong>News Detail</strong><hr>
                <p  style="font-family: Serif;"><%=f.blog%></p>
              <% if admin_signed_in? %>
                <%= link_to("Edit",  edit_blog_path(f.id))%>
                 <%= link_to "Delete", f, method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-danger" %>
               <%end%>
                </div>
              </div> 
        </div>
    <%end%>
 </div>
 
           </div>         
        </div> 
      </div>
                       
     </div>
     <br>
     <center>
       <%= will_paginate @blogs  %>
       </center>
     </br>
               <div class="row">
                <center>
                  <div class="item" >
                    <div class="caption">
                       <% if admin_signed_in? %>
                          <%= link_to("Logout", destroy_admin_session_path, method: :delete, class: "btn btn-start " , style: "background-color: red;")%>
                          <%= link_to("Back To Admin Page", ad_page_index_path,class: "btn btn-start " , style: "background-color: green;")%>
                          <%= link_to("Add Another News/Blog", new_blog_path,class: "btn btn-start " , style: "background-color: Blue;")%>
                       <%end%> 
                     </div>
                  </div>
                </center>
              </section>


