<title>Add blog</title>
         <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="favicon.ico">
 <header id="home">
    <div class="main-nav" style="background-color: #1565c0;">
      <div class="container">
      
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>                    
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">                 
           <li> <%= link_to "Back To HOME", root_path  %></li>
          </ul>
        </div>
      </div>
    </div><!--/#main-nav-->
  </header>



<center>
<div class="container">
  <div class="row">
    <div class="col s12 l7 m8 offset-l2">
      <div class="card transparent">
        <div class="card-content black-text">
          <span class="card-title">Add Company Testomany</span><br><br>
           <%= form_for(@contact) do |f| %>
             <% if @contact.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@contacts.errors.count, "error") %> prohibited this News from being saved:</h2>
        <ul>
        <% @contacts.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <%end %>

   <span class="label label-info">Upload Your Image Here</span>
     <%= f.file_field :testimony_photo, :required => true %>
     <br>
     <div class="row">
     <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload" style=" background-color:  silver;">Remove Image</a>
     </div>
      <div class="row">
      `<div class="form-group">
        <div class="input-field col s12">
          <%= f.text_field :testimony ,   maxlength: 50 , :required => true , class: "form-control" %> 
          <label for="textarea1">Please Write Your News Here</label>
        </div>
       </div>
 
   <%= f.button "Submit", class: "btn btn-success" %>
<% end %>

</div>
      </div>
    </div>
  </div>
</div>
</center>