<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript">
if (window.location.href.substr(-2) !== '?r')
{
  window.location = window.location.href + '?r';
}
/*window.onload = function ()
{
  if (!window.location.hash) 
  {
    window.location = window.location + '#loaded';
    window.location.reload();
  }
}*/
  $('.next').click(function()
  {
    $('.nav-pills > .active').next('li').find('a').trigger('click');
   } );

   $('.prev').click(function()
  {
    $('.nav-pills > .active').prev('li').find('a').trigger('click');
   } );
  
</script>
<style type="text/css">
.btn-line.btn-default {
    color: #333333;
    background-color: #fff;
    border-color: #cccccc;
}
.btn-round.btn-lg {
    border-radius: 28px;
}
.btn-round.btn {
    border-radius: 28px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
   
} 
.btn:hover {
  color: #fff;
   background-color:#028fcc;
}
.label-info{
  font-size: 14px;
}

.area-title h2::before,
.area-title h2::after {
   
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100px;
}

.area-title h2::after {
    background: #f39c12 none repeat scroll 0 0;
    height: 4px;
    width: 200px;
}


.area-title h2 {
    display: inline-block;
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 1;
    padding-bottom: 20px;
    position: relative;
    text-transform: uppercase;
}

</style>


 
    <div class="container">
    <div class="row">
             <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        
           <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
           <div class="area-title text-center wow fadeIn">
           <br>
          <h2><b>Please Fill The Form Below / እባኮ ከስር የሚገየውን ባዶ ቦታ ይሙሉ</b></h2>
          <p>New Generation Human Resource & Logistics CV Form. </p>
        </div>
      </div>
      </div>
      </div>

   <br>
   <br>




<div class="col-md-3">
<ul class="nav nav-pills   nav-stacked">

  <li class="active "><a data-toggle="pill" href="#personal"><span class="glyphicon glyphicon-education"></span> Educational Background<br> የትምህርት ዳራ
   (<span style="color: red;">*</span>)</a></li>
  <li><a data-toggle="pill" href="#work"><span class="glyphicon glyphicon-briefcase"></span> Work Experiance የስራ ልምድ</a></li>
  <li><a data-toggle="pill" href="#skill"><span class="glyphicon glyphicon-plus-sign"></span> Additional Skills ተጨማሪ ክህሎቶች </a></li>
  <li>
  <a data-toggle="pill" href="#contact"><span class="glyphicon glyphicon-earphone"></span> Contact Address የተጠሪ አድራሻ(<span style="color: red;">*</span>)</a></li>
  <li><a data-toggle="pill" href="#cv_file"><span class="glyphicon glyphicon-file"></span> Resume File Upload <br> ከድሞ የተሰራ ፋይል ካለ ይሄን ይተከሙ
<div class="alert alert-danger">
  If you Already has a<strong> Resume Document</strong> Upload Here.
</div>
  </a></li>
</ul>
</div>
<div class="tab-content">
 <p>Fields marked with an asterisk ( <span style="color: red;">*</span>  ) are mandatory <br>
ኮከብ የተደረገባቸው ቦታዎች መሞላት አለባቸው
 </p>
 
 
  <div id="cv_file" class="tab-pane fade">
    <h3>CV Document Upload</h3>
    <fieldset>
    <%= form_for( @cv) do |e| %>
             <% if @cv.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@cvs.errors.count, "error") %> prohibited this CV from being saved:</h2>

        <ul>
        <% @cvs.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <%end %>
        <legend><span class="label label-info">Already have A CV Document, Upload Here አሁን የ CV ሰነድ አለዎት, እዚህ ይስቀሉ</span></legend>

          <div class="col s12 col-lg-4">
        <span class="label label-info">Full Name (ሙሉ ስም) <span style="color: red;">( * )</span></span> 
<br><br>
       
  <%= e.text_field :cv_title, maxlength: 40, :size=>"40" ,  :required => true ,class: "form-control" %>
  </div>
  <div class="col s12 col-lg-4">
  <span class="label label-info">Field of Study (ያተኑት ትምህርት) <span style="color: red;">( * )</span></span> 
<br><br>
   <%= e.text_field :field_of_study,  maxlength: 200 ,  :required => true ,class: "form-control" %>
</div>
   <div class="col s12 col-lg-4">
  <span class="label label-info">Job Catagory (የስራው አይነት) <span style="color: red;">( * )</span></span>
  <br><br>
  <%= e.text_field :job_category,  maxlength: 40, :size=>"40" ,  :required => true ,class: "form-control" %>
  <br>
 
  </div>
  <div class="row">
<div class="col s12 col-lg-4">
    <span class="label label-info">Higher Education Level የትምህርት ደረጃ  <span style="color: red;">( * )</span></span> <br><br>
       <%= e.select(:degree_level,  [['TVTE', 'TVTE'],['High School', 'High School'], ['Certification', 'Certification'], ['Vocational', 'Vocational'], ['Associate Degree', 'Associate Degree'], ['Bachelor', 'Bachelor'], ['Masters', 'Masters'], ['Doctorate', 'Doctorate'] , ['Advanced Diploma' , 'Advanced Diploma'] , ['Post Graduate Diploma' , 'Post Graduate Diploma'] , ['Professional' , 'Professional'] , ['Other' , 'Other']   ])  %>
        </div>

    
  </div>
  <br>
     <div class="input-field col s12">
     <%= e.file_field :upload_cv, accept: 'pdf,docx',class: "form-control" %>
     <div class="alert alert-danger">
Only <strong> Word Document(Docx) or PDF is Allowed</strong> 
            </div>
               </div>
          </fieldset>
          <div class="col-md-offset-5">
<br>
    <%= e.button "Upload CV/Resume", class: "btn btn-success" %>
   
    </div>
     </div>
  <%end%>



  <div>
 <%= form_for( @cv) do |f| %>
             <% if @cv.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@cvs.errors.count, "error") %> prohibited this CV from being saved:</h2>

        <ul>
        <% @cvs.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <%end %>
    </div>

  <div id="personal" class="tab-pane fade in active ">
           <div class=" input-field col s12">
        <fieldset>
        <legend> Build CV / CV ይገንቡ</legend>
       
          <div class="col s12 col-lg-4">
          <br>
        <span class="label label-info " for="inputlg">Full Name ሙሉ ስም<span style="color: red;">( * )</span></span> 
        <br>  <br>
  <%= f.text_field :cv_title,  maxlength: 40, :size=>"40" ,  :required => true ,class: "form-control input-default" ,:id=>"inputdefault" ,
  :type=>"text" %>
  </div>

  <div class="col s12 col-lg-4">
  <br>
    <span class="label label-info">Field Of Study የትምህርት መስክ<span style="color: red;">( * )</span></span> 
    <br><br>
     <%= f.text_field :field_of_study,  maxlength: 200 ,  :required => true ,class: "form-control" %>
     </div>
     <div class="col s12 col-lg-4 ">
     <br>
   <span class="label label-info">Name of Institution የተቋሙ ስም<span style="color: red;">( * )</span></span>
   <br><br> 
    <%= f.text_field :institution_name, maxlength: 60, :required => true,  class: "form-control" %>
    </div>
  </div>
<br>
<div class="row input-field col s12">
    <div class="col s12 col-lg-4 ">
    <br>
  <span class="label label-info">Job Category የስራ ምድብ <span style="color: red;">( * )</span></span> <!-- should be dropdown-->
  <br> 
  <br>
 <%= f.select(:job_category ,[['Accountant', 'Accountant'] , ['Assistant', 'Assistant'] , ['Business Devt head','Business Devt head'],
  ['Car Washer', 'Car Washer'] , ['Casual Laborer', 'Casual Laborer'] , ['Checker', 'Checker'] , ['Chief Accountant', 'Chief Accountant'] , ['Chief legal, insurance and contract Administrator', 'Chief legal, insurance and contract Administrator'] , ['Cleaner', 'Cleaner'] , ['Consultant', 'Consultant'] , ['Daily Labor', 'Daily Labor'] , ['Date Entry Clerk', 'Data Entry Clerk'] , ['Database Assistant', 'Database Assistant'] , ['Database Clerk', 'Database Clerk'] , ['Driver & Supervisor', 'Driver & Supervisor'] , ['Finace Clerk', 'Finace Clerk'] ,  ['Finace Head', 'Finace Head'] , ['Gardner', 'Gardner'] , ['General Manager', 'General Manager'] , ['General Service', 'General Service'] , ['HR & Operation Manager', 'HR & Operation Manager'] , ['HR Data Collector and Encoder', 'HR Data Collector and Encoder'] , ['HR Operational Manager', 'HR Operational Manager'] , ['Human Resource Manager', 'Human Resource Manager'] , ['Human Resource officer', 'Human Resource Officer'] , ['IT Technician', 'IT Technician'] , ['Junior Officer', 'Junior Officer'] , ['Laywer', 'Laywer'] , ['Legal Contract and Insurance Case Officer', 'Legal Contract and Insurance Case Officer'] , ['Loading Unloading', 'Loading Unloading'] , ['Managing Director', 'Managing Director'] , ['Marketing & Business Development Officer', 'Marketing & Business Development Officer'] , ['Marketing Officer', 'Marketing Officer'] , ['Mechanic', 'Mechanic'] , ['Mezo Awchi', 'Mezo Awchi'] ,
   ['New Generation Supervisor', 'New Generation Supervisor'] , ['Office Assistant', 'Office Assistant'] , ['Operation Manager', 'Operation Manager'] , ['Petty Casher and Cash collector', 'Petty Casher and Cash collector'] , ['Porter', 'Porter'] , ['Prodution', 'Production'] , ['Purchaser', 'Purchaser'] , ['Reception', 'Reception'] , ['Runner', 'Runner'] , ['Sales', 'Sales'] , ['Scale Man', 'Scale Man'] , ['Secretary', 'Secretary'] , ['Secretary and Casher', 'Secretary and Casher'] , ['Security Coordinator', 'Security Coordinator'] , ['Security Guard', 'Security Guard'] , ['Security Marshal', 'Security Marshal'] , ['Senior Accountant', 'Senior Accountant'] , ['Site Manager', 'Site Manager'] , ['Sorter', 'Sorter'] , ['SUPERVISOR', 'SUPERVISOR'] ,
 ['Support Manager', 'Support Manager'] , ['Survey', 'Survey'] , ['V-track Operator', 'V-track Operator'] , ['Ware house Assistance', 'Ware house Assistance']
]) %>
 
</div>
<div class="col s12 col-lg-4 col-md-pull-0">
<br>
       <span class="label label-info">Higher Education Level የከፍተኛ ትምህርት ደረጃ / የብቃት ደረጃ <span style="color: red;">( * )</span></span> <br><br>
       <%= f.select(:degree_level,  [['TVTE', 'TVTE'],['High School', 'High School'], ['Certification', 'Certification'], ['Vocational', 'Vocational'], ['Associate Degree', 'Associate Degree'], ['Bachelor', 'Bachelor'], ['Masters', 'Masters'], ['Doctorate', 'Doctorate'] , ['Advanced Diploma' , 'Advanced Diploma'] , ['Post Graduate Diploma' , 'Post Graduate Diploma'] , ['Professional' , 'Professional'] , ['Other' , 'Other']   ])  %>
        </div>
        </div>

    <div class="col-md-4 col-md-offset-3">
    <br>
    <span class="label label-info">Admission Year የመግቢያ ዓመት<span style="color: red;">( * )</span></span> 
     <%= f.date_field :admission_year, :required => true , :start_year=>1950, class: "form-control form-group" %>
     <span class="label label-info">Graduation Year የምረቃ አመት <span style="color: red;">( * )</span></span>
       <%= f.date_field :graduation_year,  :required => true , :start_year=>1950 ,class: "form-group form-control" %>
    
       </div>

    <br>
     <div class="input-field col s12">
     <div class="col s12 col-lg-4 col-md-offset-5 col-xs-offset-2"><br>
     <a class="btn btn-default btn-lg btn-round btn-line disabled next" data-toggle="pill" href="#"  ><span class="glyphicon glyphicon-backward"></span> Previous ወደኋላ</a> 
    <a class="btn btn-default btn-lg btn-round btn-line prev" data-toggle="pill" href="#work"  > Next ቀጥሎ <span class="glyphicon glyphicon-forward"></span> </a> 
</div>
</div>

        </fieldset>
          </div>
  <div id="work" class="tab-pane fade">
            <fieldset>
        <legend>Work Experiance / Career Level</legend>
        <div class="input-field col s12 col-lg-4">
        <span class="label label-info">Job Title የስራ መደቡ መጠሪያ</span> 
        <br><br>
         <%= f.text_field :job_title, maxlength: 200 ,  class: "form-control" %>
         </div>
         <div class="input-field col s12 col-lg-4">
         <span class="label label-info">Company Name የድርጅት ስም</span> 
         <br><br>
          <%= f.text_field :company_name, maxlength: 20 ,  class: "form-control" %>
          </div>
            <div class="input-field col s12 col-lg-4">
            <span class="label label-info">Type of Organization የድርጅቱ አይነት</span> 
            <br><br>
             <%= f.text_field :type_of_organization,  maxlength: 200 ,  class: "form-control" %>
             </div>
             <br><br>
    <div class="input-field col s12 col-lg-4">
<br>
          <span class="label label-info">Start Date የመጀመሪያ ቀን</span>
           <%= f.date_field :start_date, :start_year=>1950, class: "form-control "  %>
           </div>
           <br> 
           <div class="input-field col s12 col-lg-4">
           <br>
           <span class="label label-info">End Date የማብቂያ ቀን</span>
            <%= f.date_field :end_date,:start_year=>1950, class: "form-control" %>
           </div>
            

            
           </fieldset><br><br><br>
               <div class="input-field col s12">
                 <div class="col s12 col-lg-4 col-md-offset-4 col-xs-offset-2">
                  <a class="btn btn-default btn-lg btn-round btn-line next" data-toggle="pill" href="#personal"  ><span class="glyphicon glyphicon-backward"></span>  Previous ወደኋላ
</a> 
                  <a class="btn btn-default btn-lg btn-round btn-line prev" data-toggle="pill" href="#skill">Next ቀጥሎ<span class="glyphicon glyphicon-forward"></span> </a> 
                </div>
              </div>
  </div>
  <div id="skill" class="tab-pane fade">

    <fieldset>
        <legend>Additional Skill ተጨማሪ ክህሎቶች</legend>
    <div class="input-field col s12">

             <span class="label label-info">Additional Skills ተጨማሪ ክህሎቶች </span> 
             <br><br>
              <%= f.text_area :skills,   maxlength: 400 , class: "form-control" ,
:rows=>"5" ,:id=>"comment" %>
              </div>
              </fieldset>
             <div class="input-field col s12">
     <div class="col s12 col-lg-4 col-md-offset-3 col-xs-offset-2">
     <br><br>
                    <a data-toggle="pill" href="#work" class="btn btn-default btn-lg btn-round btn-line next" ><span class="glyphicon glyphicon-backward"></span>  Previous ወደኋላ</a>
                 <a data-toggle="pill" href="#contact" class="btn btn-default btn-lg btn-round btn-line prev" >Next 
ቀጥሎ<span class="glyphicon glyphicon-forward"></span> </a>
                </div>
              </div>
  </div>
  <div id="contact" class="tab-pane fade">
<!-- contact address goes here -->
  <fieldset>
        <legend>Contact Address</legend>
  <div class="input-field col s12 col-lg-4">
  <br>
        <span class="label label-info ">Email ኢሜይል <span style="color: red;">( * )</span></span> 
        <br><br>
         <%= f.text_field :email, maxlength: 40 ,   class: "form-control", :type=>"email" %>
         </div>
         <div class="input-field col s12 col-lg-4">
         <br>
         <span class="label label-info">Phone Number ስልክ ቁጥር <span style="color: red;">( * )</span></span> 
         <br><br>
          <%= f.text_field :phone_number,  maxlength: 13 ,    class: "form-control", :type=>"number" %>
          </div>
         
            <div class="input-field col s12 col-lg-4">
            <br>
            <span class="label label-info">Address አድራሻ</span> 
            <br><br>
             <%= f.text_area :address, maxlength: 100 ,  class: "form-control ", :type=>"text" %>
            
             </div>
              </fieldset>
              <div class="input-field col s12">
              <div class="col s12 col-lg-4 col-md-offset-3">
                 <br>
                   <a data-toggle="pill" href="#skill" class="btn btn-default btn-lg btn-round btn-line prev" ><span class="glyphicon glyphicon-backward"></span> Previous</a> <br><br><br>
                    <%= f.button "Submit CV/Resume ልምድ ማስረጃችሁን አስገባ", class: "btn btn-success" %>
          <button type="reset" class="btn btn-default" >Clear Form</button>
            <%end%> 
              </div>
          </div>
</div>
         </div>
          

</div>
</div>




