<div class="main-nav"  >
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>                    
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">                 
            <li class="scroll "><%= link_to("Home", root_path)%> </li>
            <li class="scroll "><%= link_to("Services", services_path)%> </li> 
            <li class="scroll "><%= link_to("About", static_pages_aboutus_path)%> </li> 
             <li class="scroll"><%= link_to("News & Blogs", blogs_path)%>  </li>  
            <li class="scroll"><%= link_to("Vacancies", vacancies_path)%>  </li>
            <li class="scroll"> <%= link_to("Contact", new_feedback_path)%>  </li>
            <li class="scroll"> <%= link_to("FAQs", static_pages_faqs_path)%></li>
            <li class="scroll"> <%= link_to("Upload CV", new_cv_path)%></li>
     
          </ul>
        </div>
      </div>
    </div><!--/#main-nav-->